.move-on.is-hidden
	.move-on__wrap
		.move-on__btn-wrap
			button.move-on__btn.move-on__btn--is-animate(type="button")
				+svg('arrow-down').move-on__svg

		.move-on__line.move-on__line--top
		.move-on__line.move-on__line--bottom
