// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$main-bg-color: #222;
$color-black: #000;
$color-white: #fff;
$color-yellow: #ffd600;
$color-corn: #e8c300;
$color-mine-shaft: #333;

/* SOCIAL COLORS */
$color-fb: #4267b2;
$color-vk: #4c75a3;
$color-tg: #08c;

// FONTS
$font-family-open-sans: "Open Sans", "Arial", sans-serif;
$font-family-bunny: "Bunny", "Arial", sans-serif;
