section.page-main__company.company.is-hidden
	.company__wrap
		p.company__text company
		h1.company__name Travelers

		.company__line-decor

		.company__buttons
			.company__button-wrap
				a.company__button.company__button--left.button(href="#") all tours

			.company__button-wrap
				a.company__button.company__button--right.button(href="#") explore
