section.page-main__social.social.is-hidden
	ul.social__list
		li.social__item
			a.social__link(href="#")
				+svg('fb-icon').social__link-svg.social__link-svg--fb
		li.social__item
			a.social__link(href="#")
				+svg('vk-icon').social__link-svg.social__link-svg--vk
		li.social__item
			a.social__link(href="#")
				+svg('telegram-icon').social__link-svg.social__link-svg--tg
